.exibicao {
  display: grid;
  grid-template-rows: auto auto auto;
  place-content: center;
  place-items: center;
  gap: 20px;
  width: 436px;
  height: calc(100vh - 80px);
  padding: 20px;
  border-radius: 6px;
  background-color: var(--cor-primaria);

  & .exibicao__mensagem {
    justify-items: center;
    .mensagem__titulo {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
    }
  }

  & .exibicao__resultado {
    justify-self: center;
    font-family: var(--kanit);
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.2;
    overflow-y: auto;
    max-height: 400px;
    width: 400px;
    word-break: keep-all;
    padding: 8px;
  }

  & .exibicao__btn-copiar {
    width: 150px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 6px;
    border: var(--fundo) solid;
    background-color: var(--cor-primaria);

    &:hover {
      background-color: var(--cor-primaria-hover);
    }
  }
}
/* & .exibicao__resultado {
    display: grid;
    grid-template-rows: 1fr auto;
    place-items: center;
    gap: 20px;

    & .resultado__texto {
      font-family: var(--kanit);
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.2;
      overflow-y: auto;
      max-height: 500px;
      max-width: 300px;
      word-break: keep-all;
      padding: 8px;
    }
  } */
