.formulario {
  align-self: center;
  display: grid;
  justify-content: center;
  gap: 20px;

  & .formulario__titulo {
    justify-self: start;
    font-family: var(--noto-serif);
    font-weight: 400;
    text-transform: capitalize;
    color: var(--cor-primaria);
  }

  & .formulario__texto {
    padding: 10px;
    font-size: 1.5rem;
    font-family: var(--poppins);
    text-align: center;
    border-radius: 6px;
    color: var(--cor-primaria);
    border: solid var(--cor-primaria);
  }

  & .formulario__botoes {
    display: flex;
    gap: 40px;

    & .btn__criptografar,
    .btn__descriptografar {
      width: 200px;
      padding: 12px 24px;
      font-size: 1rem;
      font-family: var(--poppins);
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      border-radius: 6px;
      color: var(--fundo);
      background-color: var(--cor-primaria);
      cursor: pointer;
    }
  }
}

& .formulario__botoes {
  display: flex;
  gap: 40px;

  & button {
    width: 200px;
    padding: 12px 24px;
    font-size: 1rem;
    font-family: var(--poppins);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    border-radius: 6px;
    color: var(--fundo);
    background-color: var(--cor-primaria);
    cursor: pointer;
  }
}
